.root{
  padding: 20px;
  font-family: sans-serif;
}

.surname{
  display: block;
  position: relative;
  background-color: #eee;
  margin: 0 auto 10px auto;
  font-size: 14px;
  padding: 10px;
}

.title{
  display: inline-block;
  font-weight: bold;

  &red{
    color: red;
  }
}

.value{
  display: inline-block;
  padding-left: 10px;
}