.root{
  padding: 20px;
  font-family: sans-serif;
}

.name,
.surname{
  display: block;
  position: relative;
  background-color: #eee;
  margin: 0 auto 10px auto;
  font-size: 14px;
  padding: 10px;
}

.nameTitle,
.surnameTitle{
  display: inline-block;
  font-weight: bold;
}

.nameValue,
.surnameValue{
  display: inline-block;
  padding-left: 10px;
}